.pure-g.auth
  section.auth__section.login.pure-u-1-2
    form.pure-form.pure-form-stacked.login__form#login(action="/login", method="post")
      span.auth__title.base-title Login
      span.auth__error#login__error
      
      .auth__fields
        label.auth__label Email address:
          input.auth__input.login__email#login__email(name="email")
        
        label.auth__label Password:
          input.auth__input.login__password#login__password(name="password", type="password")
      
      div
        button.pure-button Submit
  
  section.auth__section.register.pure-u-1-2
    form.pure-form.pure-form-stacked.register__form#register(action="/register", method="post")
      span.auth__title.base-title Register
      span.auth__error#register__error
      
      .auth__fields
        label.auth__label Email address:
          input.auth__input#register__email(name="email")
        
        label.auth__label Password:
          input.auth__input#register__password(name="password", type="password")
        
        label.auth__label Confirm password:
          input.auth__input#register__confirm(name="confirm", type="password")
        
      div
        button.pure-button.pure-button-primary Submit

script(data-svg-url=svgurl, src='/js/auth.js')#svg-loader
