- const svgurl = '/sprite.svg'
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Document
    link(rel="stylesheet", href=asset("/css/global.css"))
    block styles
    
  body
    .content
      block content

    block scripts
      script(data-svg-url=svgurl, src=asset("/js/main.js"))#svg-loader


