// Border box all the things
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

// Font family for all the things
html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    font-family: Roboto, sans-serif;
}
